<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<title>Carbon Lockdown</title>

<link rel= "stylesheet" type= "text/css" href= " {{url_for('static', filename='articles.css')}} ">

{% block head %} {% endblock %}
</head>
<body>
	<header>
		<img class = "logo-img" src="static/logo.png" alt="logo of project">
			<h1 class="logo">Carbon Lockdown</h1>
	</header>
	
        <button type="button" class = "signin"> Sign-in </button>
        <nav>
          <ul>
            <li> <a  href="home.html">Home</a></li>
            <li> <a class = "active" href="#">Articles</a></li>
            <li> <a  href="contact.html">Contact Us</a></li>
          </ul>
        </nav>

{% block body %} {% endblock %}

</body>
<footer>
  <p> University of Maryland research purpose, 2020</p>
</footer>
</body>
</html>

