 <!doctype html>
<html>

<head>

  <title>Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href= " {{url_for('static', filename='signin.css')}} ">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
<header> <img class = "logo-img" src="logo.png" alt="logo">
  <h1 class="logo">Carbon Lockdown</h1>
</header>
<!-- Sign-in button -->
	<a href="signin.html"><button type="button" class = "signin"> Sign-in </button></a>
<!-- Navigation bar -->
<nav>
  <ul>
    <li> <a class = "active" href="#">Home</a></li>
    <li> <a href="articles.html">Articles</a></li>
    <li> <a href="contact.html">Contact Us</a></li>
  </ul>
</nav>
<!-- Content -->
      <div class="container">
            <form method="POST">
              <div class="field">
                <label class="label">Username</label>
                <div class="control has-icons-left has-icons-right">
                  <input class="input" type="text" name="username" placeholder="Username">
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </div>
              </div>
              <div class="field">
                <label class="label">Password</label>
                <p class="control has-icons-left">
                  <input class="input" type="password" name="password" placeholder="Password">
                  <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <button type="submit" class="button is-success">
                    Login
                  </button>
                </p>
              </div>
            </form>
      </div>
</body>

</html>