<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="signin.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<header> <img class = "logo-img" src="logo.png" alt="logo">
  <h1 class="logo">Carbon Lockdown</h1>
</header>
<!-- Sign-in button -->
	<a href="signin.html"><button type="button" class = "signin"> Sign-in </button></a>
<!-- Navigation bar -->
<nav>
  <ul>
    <li> <a class = "active" href="#">Home</a></li>
    <li> <a href="articles.html">Articles</a></li>
    <li> <a href="contact.html">Contact Us</a></li>
  </ul>
</nav>
<!-- Content -->
<div id="container">
  <form>
	  <br>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username">
    <label for="password">Password:</label>
    <input type="password" id="password" name="password">
    <div id="lower">
      <input type="checkbox">
      <label for="checkbox">Keep me logged in</label>
      <input type="submit" value="Login">
    </div>
  </form>
</div>
	<footer>
  <p> University of Maryland research purpose, 2020</p>
	<!-- Add font awesome icons --> 
<a href="#" class="fa fa-facebook"></a>
	<a href="#" class="fa fa-twitter"></a>
	<a href="#" class = "fa fa-instagram"></a>
</footer>
</body>
</html>
